@font-face {
  font-family: 'get_schwiftyregular';
  src: local('get_schwiftyregular'),
    url(./fonts/Get-Schwifty-Font/get_schwifty.ttf) format('truetype');
}

.header {
  font-family: 'get_schwiftyregular';
  font-size: 2em;
  color: #07afc6;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #cbd349;
  text-shadow: 1px 1px #b7cf46;
  text-align: center;
  margin: 0;
}

.cardLayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  background-color: #100e17;
}
