.footer {
  color: rgb(146, 145, 145);
  text-align: center;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paginationTxt {
    color: rgb(214, 214, 16);
}

.paginationBtns button {
    margin: .5rem;
}

a {
  color: rgb(146, 145, 145);
}

a:hover {
  color: lightskyblue;
}
